--- page 1 ---
分类号 需求文档 密 级 公开
编 号 XD_JN_GMXY
高密翔宇汽车改造项目软件界面
需求文档
V1.1
文档编写时间： ：2026.5.18
文档编写人： ：姜浩禹
审核人： ：姜浩禹
：
：
2026 年 5 月 14 日

--- page 2 ---
目录
1、 用户登录界面 ............................................................................................................................ 3
(1) 用户登录 .............................................................................................................................. 3
(2) 用户注册 .............................................................................................................................. 3
2、 检测主界面 ................................................................................................................................ 4
(1) 数据显示区 ..........................................................................................................................4
(2) 图片展示区 ..........................................................................................................................5
(3) 系统状态区 ..........................................................................................................................5
3、 数据查询导出界面 .................................................................................................................... 7
(1) 数据查询条件区 ..................................................................................................................7
(2) 数据展示列表 ......................................................................................................................7
(3) 数据导出范例 ......................................................................................................................8
4、 系统管理界面 ............................................................................................................................ 8
(1) 通信测试按钮 ......................................................................................................................9
(2) 用户管理 .............................................................................................................................. 9

--- page 3 ---
1、用户登录界面
(1)用户登录
用户登录时输入账户密码验证无误后可登录，根据权限不同展示不同页面，用户名
为中文固定，密码显示为暗码显示
改：自动登陆状态取消，关闭页面后默认退出登录，再次开启系统需重新从登录
(2)用户注册
用户不可自主注册，管理员账户可在系统管理界面注册不同权限用户，详见系统管
理界面说明

--- page 4 ---
2、检测主界面
(1)数据显示区
1 产品数据
此处分四项分别显示，分别为当前检测产品型号、当前产品检测数据统计、当
前工件生变编号及信息、当前报警类型


--- page 5 ---
2 监测数据
此处显示检测面及检测孔位数量，并以字母及方块表示，当孔位检测完成且检
测结果为 ok 时方块变为绿色显示，当孔位检测完成且检测结果为 NG 时，方
块变为红色显示，未检测的空位为灰色显示
(2)图片展示区
1 图片显示
三张图片展示自左至右分辨显示螺纹检测图片、螺孔直径测量图片、通孔检测
图片，检测结果显示在图片下方
(3)系统状态区
1 硬件状态展示区
此处显示硬件当前状态，分别为相机、光源、硬盘、自动化设备、机器人、传
感器
改：状态展示区每五分钟自动更新检测更新状态

--- page 6 ---
2 运行状态展示区
输出信息（需输出步骤运行时的时间）：
1）系统启动情况
2）相机运行情况
3）机械臂运行情况
4）错误返回


--- page 7 ---
3、数据查询导出界面
(1)数据查询条件区
1 输入条件按需查询相关数据，条件分别为型号、产品生产编号、检测结果、检
测时间，允许模糊查询，允许复合条件查询（查询条件常驻显示型号与产品号，
其余条件展开后可查询）
(2)数据展示列表
1 数据展示列表中展示已检测的产品信息，表头为型号、产品生产编号、检测结
果、检测时间、操作
1) 操作列按钮为删除，点击删除时需校验当前登陆账户是否为二级以上管理
权限，如符合则输入当前账户密码删除，不符合则弹出弹窗提示权限不足
2) 点击当前产品生产编号弹出弹窗显示详细检测信息，如下图所示，检测图
片分面显示，可进行收缩与展开

--- page 8 ---
3) 点击检测结果可对检测结果进行修改，即 ok 点击后变为 NG，NG 点击后
同理，此项操作同样需要校验账户管理权限，与删除按钮相同
(3)数据导出范例
4、系统管理界面
此界面只有账户权限为一级的账户显示，二三级账户不显示此界面


--- page 9 ---
(1)通信测试按钮
1 点击通信测试按钮对通信情况进行测试，通信方为工控机、PLC、机器人，报
错时需显示哪一方通信阻塞
(2)用户管理
1 此处可对所有账户进行管理，账户等级分为一二三三个等级，账户等级一为管
理员账户，可查看所有界面并可在输入密码时对检测结果进行修改，并可增加
新用户，二级账户可查看检测主界面和数据查询导出界面，并可在输入密码后
对检测结果进行修改，三级账户可查看检测主界面和数据导出界面，不可对检
测结果进行修改
2 用户列表从左至右表头分别为序号、用户名、密码、用户权限、操作，操作中
按钮为删除，点击后删除此行用户信息，列表底端为新增按钮，点击后弹出用
户注册页面，注册页面中输入用户名密码，选择用户权限后可点击注册注册新
用户
改：一级权限账户不可删除自身账号，各级权限账户可删除自身账号及低于自
身账号权限的账号
